.button {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#pickCardsUp.button {
    -fx-background-color: #008c2a;
    -fx-background-image: url("/icons/black/pickUp.png");
}

#skipTurn.button {
    -fx-background-color: #8b8c00;
    -fx-background-image: url("/icons/black/skip.png");
}

#exit.button {
    -fx-background-color: #a2000e;
    -fx-background-image: url("/icons/black/close.png");
}

#fullscreenEnter.button {
    -fx-background-color: #b1aeae;
    -fx-background-position: left;
    -fx-background-image: url("/icons/black/fullscreen.png");
}

#fullscreenExit.button {
    -fx-background-color: #b1aeae;
    -fx-background-position: left;
    -fx-background-image: url("/icons/black/fullscreen_exit.png");
}

#settings.button {
    -fx-background-color: rgba(28, 55, 72, 0.71);
    -fx-background-image: url("/icons/black/settings.png");
}

#back.button {
    -fx-background-color: #ff7c10;
    -fx-background-image: url("/icons/black/back.png");
}

#play.button {
    -fx-background-color: #a0ff2f;
    -fx-background-position: left;
    -fx-background-image: url("/icons/black/play_circle.png");
}